.footer
{
  background-color: var(--primaryColor);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;
}

.footer a
{
  color: #FFFFFF;
}

.footer__separatorGradient
{
  height: 18px;
  width: 100%;
  background: linear-gradient(90deg, #44DD8A, #3acfa1);
}

.footer__logo
{
  width: 243px;
  aspect-ratio: 243/87;
  margin: 40px 0;
  object-fit: cover;
}

.footer__upper
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__upper h4
{
  font-weight: 800;
  font-size: 15px;
  letter-spacing: var(--negativeLS);
  margin-bottom: 16px;
}

.footer__upper__legal
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper__legal__links
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer__upper__contact
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper__contact__links
{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__upper__contact a
{
  display: flex;
  align-items: start;
  gap: 16px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 8px;
}

.footer__upper__contact img
{
  width: fit-content;
}

.footer__upper__auth
{
  display: none;
}

.footer__separator
{
  display: none;
}

.footer__lower
{
  display: none;
}

@media (min-width : 900px)
{
  .footer__upper
  {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 5%;
    margin-top: 5%;
    align-items: start;
  }

  .footer__logo
  {
    margin: 0;
  }

  .footer__upper__legal
  {
    margin: 0;
    align-items: start;
  }

  .footer__upper__contact
  {
    margin: 0;
    align-items: start;
  }

  .footer__upper__auth
  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer .login__link
  {
    color: var(--primaryColor);
  }

  .footer__separator
  {
    display: flex;
    width: 90%;
    height: 1px;
    border: none;
    background-color: #44DD8A;
    margin: 2% 0;
  }

  .footer__lower
  {
    margin-inline: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__socials
  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    text-wrap: nowrap;
    width: 30%;
  }

  .footer__lower img
  {
    width: fit-content;
  }
}