.footer
{
  background-color: var(--primaryColor);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;
}

.footer a
{
  color: #FFFFFF;
}

.footer__separatorGradient
{
  height: 18px;
  width: 100%;
  background: linear-gradient(90deg, #44DD8A, #3acfa1);
}

.footer__logo
{
  width: 243px;
  aspect-ratio: 243/87;
  margin: 40px 0;
  object-fit: cover;
}

.footer__upper
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__upper h4
{
  font-weight: 800;
  font-size: 15px;
  letter-spacing: var(--negativeLS);
  margin-bottom: 16px;
}

.footer__upper__legal
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper__legal__links
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer__upper__contact
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upper__contact__links
{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__upper__contact a
{
  display: flex;
  align-items: start;
  gap: 16px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 8px;
}

.footer__upper__contact img
{
  width: fit-content;
}

.footer__upper__auth
{
  display: none;
}

.footer__separator
{
  display: none;
}

.footer__lower
{
  display: none;
}