.header
{
  width: 100%;
  height: 80px;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header__logo
{
  width: 84px;
  height: 31px;
  position: absolute;
  left: 7%;
}

.header__nav__bm
{
  position: absolute;
  background: none;
  border: none;
  right: 10%;
  top: 45%;
}

.nav__bm__menu
{
  display: none;
}