.header
{
  width: 100%;
  height: 80px;
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header__logo
{
  width: 84px;
  height: 31px;
  position: absolute;
  left: 7%;
}

.header__nav__bm
{
  position: absolute;
  background: none;
  border: none;
  right: 10%;
  top: 45%;
}

.nav__bm__menu
{
  display: none;
}

@media (min-width: 900px)
{
  .header__nav__bm
  {
    display: none;
  }

  .nav__bm__menu
  {
    display: flex;
  }

  .formations__link
  {
    position: absolute;
    left: 25%;
    top: 40%;
    color: #ffffff;
  }

  .nav__search
  {
    position: absolute;
    top: 30%;
    left: 40%;
    background: none;
    border: 1px solid #ffffff;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    width: clamp(184px, 50% , 25%);
    color: #ffffff;
  }



  .nav__search::placeholder
  {
    color: #ffffff;
  }

  .nav__auth
  {
    position: absolute;
    left: 70%;
    top: 28%;
    display: flex;
    gap: 5%;
  }

  .login__link
  {
    padding: 11px 25px;
    background: #ffffff;
    color: var(--primaryColor);
    border-radius: 6px;
  }

  .signup__link
  {
    background: linear-gradient(120deg, #44DD8A, #15B7E2);
    padding: 11px 25px;
    color: var(--primaryColor);
    border-radius: 6px;
  }
}