.hero
{
  width: 100%;
  height: clamp(364px, 100vw, 450px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(120deg, rgba(68, 221, 138, 0.8), rgba(21, 183, 226, 0.8));
  gap: 30px;
  position: relative;
  padding-inline: 5%;
}

.hero__bannerMobile
{
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit:cover;
  object-position: 0% 100%;
}

.hero__bannerDesktop
{
  display: none;
}

.hero__h1
{
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primaryColor);
  letter-spacing: var(--negativeLS);
  font-size: clamp(32px, 4vw, 48px);
}

.hero__slogan
{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: var(--negativeLS);
}

.hero__cta
{
  color: var(--primaryColor);
  background-color: #FFFFFF;
  border-radius: 6px;
  padding:  12px 18px;
  font-size: var(--Fs__a);
  letter-spacing: var(--negativeLS);
}

.formations
{
  padding: 5% 5dvw;
}

.formations__gallery
{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  align-items: start;
}

.formations h2
{
  font-size: var(--mobileFs__h2);
  font-weight: 800;
  text-align: center;
  padding-top: 20px;
}

.formations h3
{
  font-size: var(--mobileFs__h3);
}

.card
{
  padding-top: 47px;
  width: 305px;
}

.card__figure
{
  position: relative;
}

.formations .card__price
{
  width: fit-content;
  height: 31.58px;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 3px 10px;
  border-radius: 93px;
  font-weight: bold;
  top: 90%;
  right: 5%;
}

.formations__more
{
  display: block;
  border-radius: 6px;
  padding:  12px 24px;
  font-size: var(--Fs__a);
  letter-spacing: var(--negativeLS);
  margin: 2.5rem auto;
}

.card__stars
{
  display: flex;
  margin-bottom: 6px;
}

.star
{
  width: 1.34rem;
  aspect-ratio: 1/1;
}

.starMisty
{
  opacity: 0.5;
}

.card__author
{
  margin: 8px 0;
}

.formations__popular
{
  background-color: #FFFFFF;
}

.formations__popular h2
{
  color: var(--primaryColor);
}

.formations__popular .card__price
{
  background-color: var(--primaryColor);
  color: #FFFFFF;
}

.card__price__current
{
  font-size: 20px;
  line-height: 20px;
}

.card__price__old
{
  text-decoration:line-through;
  font-size: var(--Fs__crossPrice);
  font-weight: 400;
  line-height: 7px;
}

.card__details
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 14px;
}

.formations__popular .card h3
{
  color: var(--primaryColor);
}

.formations__popular .formations__more
{
  background-color: var(--primaryColor);
  color: #FFFFFF;
}

.formations__recent
{
  background-color: var(--primaryColor);
  color: #FFFFFF;
}

.formations__recent .card__price
{
  background-color: #FFFFFF;
  color: var(--primaryColor);
}

.advice
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 5dvw;
}

.advice h2, .advantages h2, .create h2, .about h2, .contact h2
{
  text-transform: uppercase;
  font-size: var(--mobileFs__h2);
  color: var(--primaryColor);
  font-weight: 800;
  letter-spacing: var(--negativeLS);
}

.advice__item
{
  padding-top: 20px;
}

.advice__pp
{
  width: 139px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.advice__name
{
  font-size: large;
  line-height: 32px;
  font-weight: 600;
}

.advice__text
{
  text-align: start;
  line-height: 30px;
  font-size: var(--mobileFsLittleText);
}

.advantages
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 5dvw;
  background-color: #F5F5F5;
}

.advantages__img
{
  width:clamp(327px,90vw,727px);
}

.advantages__list
{
  padding: 20px 0;
}

.advantages__list li
{
  display: flex;
  flex-direction: row;
  text-align: start;
  padding: 8px 0;
  gap: 16px;
  font-size: var(--mobileFs__li);
}

.advantages__list img
{
  width: fit-content;
}

.create
{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 5dvw;
  background-color: var(--secondaryColor);
}

.create h2
{
  text-align: center;
}

.create__img
{
  object-fit: cover;
  margin: 1rem 0;
}

.create__list
{
  display: block;
  align-self: flex-start;
  text-align: start;
  height: fit-content;
}

.create__list li
{
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 8px 0;
  gap: 2rem;
  font-size: var(--mobileFs__li);
}

.create__list li img
{
  width: fit-content;
}

.deleted__text
{
  display: none;
}

.about
{
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  background-color: #F5F5F5;
}

.about h2
{
  text-align: center;
  padding-top: 5%;
}

.about__content
{
  padding: 5%;
}

.about p
{
  text-align: start;
  line-height: 28px;
  letter-spacing: var(--negativeLS);
  color: var(--primaryColor);
  font-size: 18px;
}

.about__logoContainer
{
  width: 100%;
  background: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.about__logo
{
  width: clamp(214px, 30vw ,430px);
  aspect-ratio: 2.78/1;
}

.contact
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.contact hr
{
  display: none;
}

.contact form
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.contact__nameANDmail
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact form input
{
  width: 100%;
}

.contact form input, .contact form textarea
{
  border: none;
  background-color: var(--primaryColor);
  font-size: var(--Fs__a);
  padding: 15px;
  color: #FFFFFF;
}

.contact form input::placeholder, .contact form textarea::placeholder
{
  color: #FFFFFF;
}

.contact form textarea
{
  height: 190px;
}

.contact form button
{
  background-color: var(--secondaryColor);
  border-radius: 6px;
  font-size: var(--Fs__a);
  padding: 10px 0;
}

@media (min-width: 900px) {
  .hero__bannerMobile
  {
    display: none;
  }

  .hero__bannerDesktop
  {
  display: block;
  width: 100%;
  aspect-ratio: 2/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit:cover;
  }

  .formations__gallery
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .create
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    gap: 3%;
  }

  .create__img
  {
    grid-column: 1/1;
    grid-row: 1/3;
    height: 100%;
    margin: 0;
  }

  .create h2
  {
    grid-column: 2/3;
    grid-row: 1/1;
    text-align: initial;
  }

  .create__list
  {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .deleted__text
  {
    display: block;
    text-align: initial;
  }

  .about
  {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .about h2
  {
    text-align: start;
    padding-left: 5%;
  }

  .about__logoContainer
  {
    height: 100%;
  }

  .contact hr
  {
    display: flex;
    background: #44DD8A;
    width: 30%;
    height: 1px;
    margin: 2rem 0;
    border: none;
  }
  
  .contact__nameANDmail
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact form input
  {
    width: 47.5%;
  }

  .contact form button{
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 1250px)
{
  .formations h2
  {
    display: block;
    text-align: start;
    margin-left: 2%;
  }

  .adviceContainer
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }

  .advice__profile
  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .advantages__content
  {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
}

@media (min-width : 1350px)
{
  .formations__gallery
  {
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
  }
}
