*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  box-sizing: border-box;
}

body
{
  width: 100%;
}

a, button
{
  cursor: pointer;
  outline: none;
  border: none;
}

img
{
  width: 100%;
}
