@import url(css/resets.css);
@import url(css/generals.css);
@import url(css/index.css);
@import url(css/header.css);
@import url(css/footer.css);

  .nav__searchContainer::before
  {
    content: url(assets/imgs/search.svg);
    position: absolute;
    top: 37.5%;
    left: 62%;
  }